
<div class="container">
  <div class="row">
        Search : <input class="form-control" style="margin-bottom: 30px" name="title" [(ngModel)]="title" placeholder="Rechercher une catégorie" >
    <ng-container *ngFor="let c of categories  | filter:title">

      <div *ngIf="!title || c.title.toLowerCase().includes(title.toLowerCase())" class="col-md-4" style="margin-bottom: 20px;" >
           <img [src]="c.image" [alt]="c.title" class="img-fluid h-50 w-75" (click)="afficheDescription(c.id)">
           <h3 appHighlight>{{c.title | uppercase}}</h3>
           <button class="btn btn-primary" *ngIf="c.available" [routerLink]="['/product/',c.id]">Voir produits</button>
           <!-- <button class="btn btn-primary" [hidden]="c.available == false">Voir produits</button>-->
           <p appHighlight *ngIf="c.available == false"> Categorie non disponible </p>

       </div>
      </ng-container>
  </div>
</div>
