<div class="container">
  <div class="row">
    <form #form="ngForm" (ngSubmit)="add(form)">
      <div class="mb-3">
        <label>First Name</label>
        <input class="form-control" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel"
          required minlength="3" pattern="[a-zA-Z]*">
        <div class="alert alert-danger" *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
          <small *ngIf="firstName.errors?.['required']">First Name est requis.</small>
          <small *ngIf="firstName.errors?.['minlength']">First Name doit contenir au moins 3 caractères.</small>
          <small *ngIf="firstName.errors?.['pattern']">First Name ne doit contenir que des lettres.</small>
        </div>
      </div>

      <div class="mb-3">
        <label>Last Name</label>
        <input class="form-control" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel"
          required minlength="3" pattern="[a-zA-Z]*">
        <div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
          <small *ngIf="lastName.errors?.['required']">Last Name est requis.</small>
          <small *ngIf="lastName.errors?.['minlength']">Last Name doit contenir au moins 3 caractères.</small>
          <small *ngIf="lastName.errors?.['pattern']">Last Name ne doit contenir que des lettres.</small>
        </div>
      </div>

      <div class="mb-3">
        <label>Email</label>
        <input class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel"
          required pattern="^[a-zA-Z0-9._-]+@gmail\.com$">
        <div class="alert alert-danger" *ngIf="email.invalid && (email.touched || email.dirty)">
          <small *ngIf="email.errors?.['required']">Email est requis.</small>
          <small *ngIf="email.errors?.['pattern']">Email doit se terminer par  </small>
        </div>
      </div>

      <div class="mb-3">
        <label>Category</label>
        <input class="form-control" name="category" [(ngModel)]="user.category" #category="ngModel"
          required [value]="'Customer'" readonly>
        <div class="alert alert-danger" *ngIf="category.invalid && (category.touched || category.dirty)">
          <small *ngIf="category.errors?.['required']">La catégorie est requise.</small>
        </div>
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel"
          required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
        <div class="alert alert-danger" *ngIf="password.invalid && (password.touched || password.dirty)">
          <small *ngIf="password.errors?.['required']">Le mot de passe est requis.</small>
          <small *ngIf="password.errors?.['pattern']">Le mot de passe doit contenir au moins 8 caractères,
          y compris des lettres minuscules, des lettres majuscules et des chiffres.</small>
        </div>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
      </div>
    </form>
  </div>
</div>
